.home-page {
  font-family: "Poppins", sans-serif;
  color: #333;
}

/* HERO SECTION */
.hero {
  height: 55vh;
  background: linear-gradient(to top, rgba(3, 24, 117, 0.692), rgba(0, 0, 0, 0.452)), url("/home/library-hero.jpg") center/cover no-repeat;
  border-radius: 12px;
  margin: 20px auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-inner {
  text-align: center;
  color: white;
  padding: 40px;
  border-radius: 12px;
}

.hero-title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 10px;
}

.hero-subtitle {
  font-size: 17px;
  margin-bottom: 25px;
}

/* SEARCH BAR */
.hero-search {
  display: flex;
  align-items: center;
  background: white;
  padding: 10px 15px;
  padding-bottom: 6px;
  border-radius: 15px;
  width: 500px;
  margin: auto;
  position: relative;

}

.search-icon-home {
  position: absolute;
  color: #5d6064;
  top: 21px;
}

.hero-search input {
  font-size: 17px;
  padding: 6px 15px 4px 28px;
  margin-bottom: 6px;
}

.hero-search input::placeholder {
  font-family: "Inter", sans-serif;
  color: #9ca3af;
}

.hero-search button {
  background: #1a4ae8;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: background .2s ease;
}

.hero-search button:hover {
  background: #0e2e92;
}

/* COLLECTIONS */
.collections-section {
  margin: 50px auto;
  width: 92%;
}

.collections-section h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.collections-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.collection-card {
  /* width: flex; */
  background: #000;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s ease
}

.collection-card:hover {
  transform: scale(1.05);
}

.collection-card img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  opacity: 0.8;
}

.collection-card span {
  position: absolute;
  bottom: 12px;
  left: 12px;
  font-size: 15px;
  color: white;
  font-weight: 600;
}

/* SERVICES */
.services-section {
  width: 92%;
  margin: 50px auto;
}

.services-section h2 {
  font-size: 22px;
  margin-bottom: 25px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.service-card {
  /* width: flex; */
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease
}

.service-card:hover {
  transform: scale(1.05);
}

.service-card h3 {
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
}

.service-card p {
  font-size: 14px;
  color: #555;
}