.login-page {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: url("signlogin/Library-main.jpg");
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.55);
  background-blend-mode: darken;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 200px;
  height: 100vh;
}

.logo-side {
  flex: 1;
  color: white;
}

.logo-side img {
  width: 1000px;
}

.login-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-card {
  zoom: 90%;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(8px);
  color: white;
  text-align: left;
}

.login-card {
  width: 450px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(8px);
  color: white;
  text-align: left;
}

.home-card {
  width: 640px;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.3);
  backdrop-filter: blur(8px);
  color: white;
  text-align: left;
}

.logo-text {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 0;
}

.login-title {
  margin-top: 0;
  font-size: 28px;
}

label {
  display: block;
  margin: 10px 0 5px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  margin-bottom: 10px;
  outline: none;
}

.forgot-password {
  font-size: 12px;
  color: #d0e3ff;
  text-decoration: none;
  display: block;
  margin-bottom: 15px;
}

/*login button*/
.btn-login {
  width: 100%;
  background: #0044cc;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  margin-top: 16px;
}

.btn-login:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/*continue with*/
.continue-text {
  text-align: center;
  font-size: 13px;
  margin: 15px 0;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-btn {
  border: none;
  border-radius: 8px;
  padding: 8px 15px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.social-btn img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.social-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.google {
  background: #fff;
  color: #db4437;
}

.github {
  background: #333;
  color: #fff;
}

.facebook {
  background: #0866ff;
  color: #fff;
}

/*register for free*/
.register-text {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
}

.register-text a {
  color: #fff;
  text-decoration: underline;
}


/*utk button balek*/
.btn-back {
  width: 100%;
  background: transparent;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  margin-top: 10px;
  transition: 0.3s;
}

.btn-back:hover {
  background: rgba(255, 255, 255, 0.2);
}