body {
    background-color: #f9fafb;
    font-family: "Segoe UI", sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.page-container {
    padding: 2rem;
    min-height: 100vh;
}

.header {
    text-align: center;
    margin-bottom: 2rem;
}

.header-title {
    font-size: 2rem;
    font-weight: 700;
}

.header-subtitle {
    color: #666;
    margin-top: 0.25rem;
}

.content {
    display: flex;
    gap: 2rem;
}

/*Sidebar*/
.sidebar {
    width: 250px;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    height: fit-content;
}

.sidebar h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: left;
}

.filter-group {
    margin-bottom: 1.5rem;
}

.filter-label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    display: block;
    text-align: left;
}

/*CHECKBOX*/
.filter-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.filter-option input[type="checkbox"] {
    margin: 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.filter-option label {
    cursor: pointer;
    font-weight: normal;
    margin: 0;
}

.year-inputs {
    display: flex;
    gap: 0.5rem;
}

.year-inputs input {
    width: 50%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

/* Main Area */
.main {
    flex: 1;
}

/* Search */
.search-container {
    position: relative;
    margin-bottom: 2rem;
}

.search-icon {
    position: absolute;
    top: 42%;
    left: 12px;
    transform: translateY(-50%);
    color: #777;

}

.search-input {
    width: 100%;
    padding: 0.75rem 0.75rem 0.75rem 2.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 0.95rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Book Section */
.book-section {
    margin-bottom: 2rem;
}

.section-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.book-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 0.5rem;
}

.book-card {
    width: 170px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.book-image {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-weight: 500;
    margin-top: 0.5rem;
    font-size: 0.9rem;
    line-height: 1.3;
}

.book-author {
    color: #666;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}